需求分析：

1.基础环境标准化：硬件，文件挂载点，/etc/profile环境变量, 时区， swap, python3等 
2.快速部署或升级集群（ansible或者docker）
3.集群挖矿的数据监控,分析与呈现（各项关心的指标与痛点，自动化问题处理脚本等）


细分：
--------
lotus节点
--------
a.监控同步情况
b.消息自动疏通

-------
worker
-------
a.编译（ansible分类，每种CPU型号的机器找一个作为编译机。
b.用ansible做好worker的配置管理。用supervisor启动进程。



------
miner
------

